{
  "plugins": [
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {
              "cleanupIDs": false,
              "removeTitle": false,
              "removeDesc": false
            }
          ]
        }
      }
    ]
  ],
  "presets": ["next/babel"]
}
