$colors: (
  white: #e0e0e0,
);
$mq-breakpoints: (
  mobile: 375px,
  sm: 640px,
  tablet: 768px,
  desktop: 1025px,
  wide: 1440px,
);
$font-size: (
  xxs: 10px,
  xs: 12px,
  sm: 14px,
  base: 16px,
  lg: 18px,
  xl: 20px,
  xxl: 22px,
);
$desktop_from: 1024px;
